body {
	color: #ddd;
	background-color: #104;
}

::-moz-selection {
	background: #09F;
	color: #fff;
    text-shadow: none
}

::selection {
	background: #09F;
	color: #fff;
    text-shadow: none
}

hr {
    border-color: #333;
}

blockquote {
	border-color: #ddd;
}

h1,h2,h3,h4,h5,h6 {
	color: #ddd;
}

a,a:hover {
	color: #09F;
	text-decoration: none;
}

.site-description a,
.site-description a:hover {
	color: #ddd;
	text-decoration: underline;
}

a:hover {
	opacity: 0.8;
}

.post-tags .tags a {
    border: 1px solid #ddd;
	color: #ddd;
}

.site-title a {
	color: #ddd;
	text-decoration: none !important;
}

.header nav,
.footer {
	border-color: #333;
}

.highlight {
	background-color: #333;
}
