<div class="footer wrapper">
	<nav class="nav">
		<div>{{ with .Site.Copyright }} {{ . | safeHTML }} {{ end }}</div>
	</nav>
</div>

{{ template "_internal/google_analytics_async.html" . }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
